extends ../layout

block append head 
    title Edit Task

block append content
    .container
        .columns.is-centered.mt-5
        .column.is-6
            form.field(id="taskForm", method="POST")  
                task.name
                label.label(for="name:") Name
                .control
                    input.input(type="text" name="name" id="name" value=task.name)
                label.label(for="description", name="description") Description
                .control
                    textarea.textarea(name="description", cols="30", rows="10", id="description")=task.description
                button.button.is-success.mt-4(type="submit") Save
    
    block script
    script(type='text/javascript').

        let handleSubmit = (e)=>{
            e.preventDefault()
            let name = document.querySelector("#name").value
            let description = document.querySelector("#description").value
            let id = document.location.href.slice(-41).slice(0,36)
            
            fetch(`http://localhost:3000/api/tasks/${id}`,
            {
                method: "PUT",
                body:JSON.stringify({ 
                name: name,
                description:description}),
                headers:{
                    'Content-Type': 'application/json'
                }  
            }
            ).then(res=>res.json())
            .catch(err=>console.log(err))
            .then(response => {
                alert(`Success: ${response.message} /n Name: ${response.data.name} \nDescrption: ${response.data.description}`)
                document.querySelector("#name").value = ''
                document.querySelector("#description").value = ''
                document.location = "http://localhost:3000/tasks"
                })

            
            
        }

        const form = document.querySelector('#taskForm');
        form.addEventListener('submit', handleSubmit);